.list-bin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-title {
        font-style: italic;
        span {
            display: inline-block;
            font-size: 120%;
            font-style: normal;
            padding-left: 15px;
        }
    }
    .list-btn {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        * {
            margin: 0 5px;
        }
    }
}

fieldset.sort {
    border: 1px solid gray;
    padding: 5px 20px;
    margin: 15px 0;
    legend {
        width: auto;
        display: inline-block;
        padding: 0 5px;
        font-size: 14px;
    }
    .inputs {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        * {
            margin: 0 2px;
        }
    }
    span.border {
        display: inline-block;
        width: 1px;
        background-color: gray;
        height: 30px;
    }
}

.list-img{
    max-height: 150px;
    img{
        height: 150px;
        width: auto;
    }
}


//loader
.center-loader{
    display: flex;
    justify-content: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(122, 207, 82);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: olivedrab transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
